.sign {
}

.sign .sign-header {
  /* background-image: url('../../Assets/Images/Weekly\ new\ let.png'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40rem;
  height: 40rem;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 100px;
  /* background-color: blue; */
  width: 100%;
}
@media screen and (max-width: 600px) {
  .sign .sign-header {
    flex-direction: column;
    row-gap: 3rem;
    padding: 2rem 2rem;
    min-height: 20rem;
    height: 20rem;
  }
}

.sign .sign-header .info-wrapper {
  flex: 1 1 0%;
}
.sign .sign-header h1 {
  width: 80%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 4rem;
}
@media screen and (max-width: 600px) {
  .sign .sign-header h1 {
    width: 100%;
    line-height: 120%;
    font-size: 2rem;
  }
}

.sign .sign-header form {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
}
@media screen and (max-width: 600px) {
  .sign .sign-header form {
    width: 30rem;
  }
}
.sign .sign-header .email-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  border-radius: 999rem;
  border: 1px solid #ccc;
  overflow: hidden;
}
.sign .sign-header form input {
  padding: 2rem;
  flex: 1 1 0%;
  height: 100%;
  font-size: 16px;
  border: none;
  color: #000000;
  /* background-color: rgba(0, 128, 0, 0.235); */
}
.sign .sign-header form input:focus {
  outline: none;
}
.sign .sign-header form .icon-wrapper {
  height: 100%;
  /* width: 5rem; */
  padding: 0 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #000000;
}
.sign .sign-header form .icon {
}
