.btn-pill-component-wrapper {
  /* display: inline-block; */
  display: inline-flex;
  /* add this margin top on the div wrapping the ButtonPill component of the file that you want it, this margint top here is affecting it everywhere on the app */
  /* margin-top: 2rem; */
}
.btn-pill-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5rem;
  padding: 1rem 2rem;
  border-radius: 99rem;
  cursor: pointer;
  background-color: #3c0cec;
  color: #fff;
}
.btn-pill-component.btn-pill-component-light {
  background-color: #fff;
  color: #3c0cec;
}
.btn-pill-component p {
  font-weight: 400 !important;
  font-size: 1.8rem;
}
