.audio-component {
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  width: 100%;
  margin: 0 auto;
}
.audio-component .container {
  width: 72.5%;
  margin: 0 auto;
}
.audio-component .content {
 padding: 2rem 0;
}
.audio-component .title-wrapper {
  display: flex;
  margin-bottom: 5rem;
}
.audio-component .info {
  margin-bottom: 7rem;
}
.audio-component .info p {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.8rem;
  /* line-height: 4.16rem; */
}
@media screen and (max-width: 600px) {
  .audio-component .info p {
    font-size: 1.5rem;
  }
}
.audio-component .info p span {
  font-weight: 600;
}

.audio-component .carousel {
  padding: 1rem 2.5rem;
  overflow: hidden;
  position: relative;
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}
.audio-component .carousel .cards-wrapper {
  overflow: hidden;
  position: relative;
}
.audio-component .carousel .cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 3rem;
  transition: all linear 1s;
}
.audio-component .carousel .carousel-btn-left {
  position: absolute;
  top: 50%;
  left: 0rem;
  transform: translateY(-50%);
}
.audio-component .carousel .carousel-btn-right {
  position: absolute;
  top: 50%;
  right: 0rem;
  transform: translateY(-50%);
}
.audio-component .carousel-btn.hidden {
  display: none;
}
