/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 */

.info-component {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.info-component {
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.02rem;
  line-height: 150%;
}
@media screen and (max-width: 600px) {
  .info-component {
    font-size: 1.5rem;
    line-height: 140%;
  }
}
.info-component.strong {
  font-weight: 600;
}
.info-component.highlight {
  color: #3c0cec;
}
.info-component span {
  font-weight: 700;
}
