.info-component-2 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.02rem;
  line-height: 150%;
}
@media screen and (max-width: 600px) {
  .info-component-2 {
    font-size: 1.6rem;
    line-height: 140%;
  }
}
.info-component-2.strong {
  font-weight: 600;
}
.info-component-2.highlight {
  color: #3c0cec;
}
.info-component-2 span {
  font-weight: 700;
}
