.about-component {
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  width: 100%;
  margin: 0 auto;
  padding: 17px 6%;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: green; */
}

.about-component .title-wrapper {
  display: flex;
  margin-bottom: 3rem;
}
.about-component .about {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-content: space-between;
}
.about-component .about .details {
  width: 60%;
  padding-bottom: 4px;
  padding-top: 4px;
  line-height: 30px;
}
.about-component .btn-about-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}
.about-component .btn-about {
  display: flex;
  column-gap: 2rem;
}
.about-component .carousel-btn.hidden {
  /* display: none; */
  /* visibility: hidden; */
}

.card-container {
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden !important;
}

.slick-prev,
.slick-next {
  display: none !important;
}
.card-container .slides-wrapper {
  overflow: hidden !important;
  margin-right: -9.5rem;
}
.card-container .cards-wrapper {
  display: flex;
  justify-content: space-around;
  transition: all linear 1s;
}
/* new  */
.about-component .carousel {
  padding: 7rem 2.5rem 0;
  overflow: hidden;
  position: relative;
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}
.about-component .carousel .cards-wrapper {
  /* padding: 1rem; */
  overflow: hidden;
  /* margin-right: -9.5rem; */
  position: relative;
  /* background-color: green; */
}
.about-component .carousel .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
  justify-content: space-around;
  transition: all linear 1s;
}
