.about-component {
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  width: 100%;
  margin: 0 auto;
  padding: 17px 6%;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: green; */
}

.about-component .title-wrapper {
  display: flex;
  margin-bottom: 3rem;
}
.about-component .about {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-content: space-between;
}
.about-component .about .details {
  width: 60%;
  padding-bottom: 4px;
  padding-top: 4px;
  line-height: 30px;
}
.about-component .btn-about-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}
.about-component .btn-about {
  display: flex;
  column-gap: 2rem;
}
