.books-component {
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  width: 100%;
  margin: 0 auto;
}
.books-component .container {
  width: 87.5%;
  /* background-color: green; */
  margin: 0 auto;
}
.books-component .content {
  padding: 4rem 15rem;
}
.books-component .title-wrapper {
  display: flex;
  margin-bottom: 5rem;
}
.books-component .info {
  margin-bottom: 7rem;
}
.books-component .info p {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.8rem;
  /* line-height: 4.16rem; */
}
.books-component .info p span {
  font-weight: 600;
}
.books-component .carousel {
  padding: 1rem 2.5rem;
  overflow: hidden;
  position: relative;
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}
.books-component .carousel .books-wrapper {
  /* padding: 1rem; */
  overflow: hidden;
  /* margin-right: -9.5rem; */
  position: relative;
  /* background-color: green; */
}
.books-component .carousel .books {
  display: flex;
  /* overflow: hidden; */
  /* background-color: red; */
  column-gap: 3rem;
  align-items: center;
  justify-content: center;
  /* new */
  display: flex;
  justify-content: space-around;
  transition: all linear 1s;
  gap: 2rem;
}
.books-component .carousel .carousel-btn-left {
  position: absolute;
  top: 50%;
  left: 0rem;
  transform: translateY(-50%);
}
.books-component .carousel .carousel-btn-right {
  position: absolute;
  top: 50%;
  right: 0rem;
  transform: translateY(-50%);
}
.books-component .carousel-btn.hidden {
  display: none;
}
