.hero-media-wrapper {
  position: relative;
}
.hero-media-wrapper .hero-media {
  position: relative;
  width: 100%;
  min-height: 67.4rem;
  height: 67.4rem;
  overflow: hidden;
  margin-top: -9.3rem;
}

.hero-media-wrapper .hero-media::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../Assets/Images/media-banner.svg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  z-index: 1; /* Ensure it is below the overlay and content */
}

.hero-media-wrapper .hero-media::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3c0cec9e; /* Overlay color with opacity */
  /* opacity: 0.2; */
  z-index: 2; /* Ensure it is above the background image but below the content */
}

.hero-media-wrapper .hero-media > * {
  position: relative;
  z-index: 3;
  color: white;
}
.hero-media-wrapper .container {
  height: 100%;
  width: 87.5%;
  margin: 0 auto;
}

.hero-media-wrapper .hero-media .content {
  /* background-color: green; */
  height: 100%;
  position: relative;
}
.hero-media-wrapper .hero-media .info-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-media-wrapper .hero-media .info-wrapper .play {
  margin-bottom: 2rem;
  cursor: pointer;
}
.hero-media-wrapper .hero-media .info-wrapper p {
  width: 60%;
  max-width: 70rem;
  font-weight: 400;
  font-size: 2.7rem;
  line-height: 3.7rem;
}
.hero-media-wrapper .hero-media .img-1 {
  width: 39.3rem;
  height: 24.9rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hero-media-wrapper .hero-media .img-2 {
  width: 20.7rem;
  height: 10.5rem;
  position: absolute;
  top: 0;
  /* left: 42rem; */
  left: 20%;
}
.hero-media-wrapper .hero-media .img-3 {
  width: 7.4rem;
  height: 11rem;
  position: absolute;
  top: 24.8rem;
  right: 10%;
}

.hero-media-wrapper .cards-wrapper {
  background-color: #fff;
  min-height: 20rem;
  padding: 0 0 6rem;
  /* background-color: green; */
}
.hero-media-wrapper .cards-wrapper .content {
  /* padding: 0rem 10rem; */
  margin: 0 auto;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}
.hero-media-wrapper .cards {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin-top: -8rem;
  z-index: 999;
  position: relative;
}
