.team-section {
  background-color: #f7f2ff;
  text-align: center;
  margin-bottom: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  width: 100%;
  margin: 0 auto 4rem;
}
.team-section .container {
  width: 87.5%;
  margin: 0 auto;
  /* background-color: blue; */
}
@media screen and (max-width: 600px) {
  .team-section .container {
    width: 100%;
  }
}
.team-section .content {
  padding: 5rem 20rem;
}
@media screen and (max-width: 600px) {
  .team-section .content {
    padding: 0rem 2rem;
  }
}

.team-section .team-title {
  margin-bottom: 20px;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 600px) {
  .team-section .team-title {
    font-size: 3rem;
  }
}

.team-section .team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4rem;
  justify-items: center;
}
@media screen and (max-width: 600px) {
  .team-section .team-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.team-section .team-member {
  width: 250px;
  height: 250px;
  background-color: #fff;
  border-bottom: 10px solid #5500ff;
  border-radius: 5px;
}
