@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar-component {
  height: 9.3rem;
}
.navbar-component-other {
  /* padding: 4rem 0 0; */
}
.navbar-component .container {
  width: 87.5%;
  margin: 0 auto;
}
.navbar-component .content {
  padding: 17px 0;
}
.navbar-component .navbar-items-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-component .logo-wrapper {
  z-index: 3;
  width: 26.9rem;
  height: 5.4rem;
}
.navbar-component .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-component .nav-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}
.navbar-component .nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.navbar-component .nav-main li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navbar-component .nav-main li .link-text {
  color: #000;
}
.navbar-component .nav-main li .link-text-other {
  color: #fff;
}
.navbar-component .nav-main li a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.navbar-component .nav-main li a:hover::after {
  content: '';
  width: 55%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
/* dropdown */
.navbar-component .dropdown-link {
  margin-top: 5px;
  background-color: #ff5340de;
  position: absolute;
  right: 20px;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  border-radius: 0.3rem;
  width: 260%;
}

.navbar-component .dropdown-link li {
  padding-bottom: 25px !important;
  z-index: 999999 !important;
}

.navbar-component .drop {
  background-color: #f574cef5 !important;
  z-index: 1;
}

.navbar-component .drop2 {
  background-color: #a126edab !important;
  z-index: 1;
}

.navbar-component .dropdown a {
  color: #fff !important;
  font-size: 1.6rem !important;
  margin-bottom: 50px !important;
}

.navbar-component .dropdown li a:hover::after {
  content: '';
  display: none;
}
/* country */
.navbar-component .country-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  column-gap: 2rem;
  color: #000;
}
.navbar-component .country-wrapper-other {
  color: #fff;
}
.navbar-component .country-wrapper .country {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.navbar-component .country > img {
  border-radius: 20px;
  justify-content: center;
  min-width: 2.5rem;
  min-height: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: -0.5rem;
  /* margin-left: -0.5rem; */
  object-fit: cover;
}

.navbar-component .uk {
  position: relative;
  left: 5px;
}
.navbar-component .italy {
  position: relative;
  left: 5px;
}
.navbar-component .nigeria {
  position: relative;
  left: 5px;
}
.navbar-component .lang {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.navbar-component .en {
  font-weight: 900;
}
.navbar-component .en p {
}
.navbar-component .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* nav btn */
.navbar-component .nav-btn-wrapper {
  z-index: 3;
}
.navbar-component .nav-btn {
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 140px;
  cursor: pointer;
  color: white;
  background-color: #3c0cec;
}
.navbar-component .nav-btn-other {
  background-color: #ff5240;
}
/* countries dropdown */
.navbar-component .countries-dropdown-wrapper {
  width: 100%;
  position: relative;
  z-index: 3;
}

.navbar-component .countries-dropdown {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: #fff;
}
