@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar-component {
  min-height: 9.3rem;
  /* height: 11.3rem; */
  width: 100%;
  /* z-index: 888; */
}
.navbar-component-other {
  /* padding: 4rem 0 0; */
}
.navbar-component .container {
  /* width: 87.5%; */
  width: 100%;
  margin: 0 auto;
}
.navbar-component .content {
  /* padding: 17px 0; */
}
@media screen and (max-width: 600px) {
  .navbar-component .content {
    padding: 17px 0;
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  */
  }
}
.navbar-component .navbar-items-wrapper {
  /* width: 100%; */
  width: 87.5%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-component .logo-wrapper {
  z-index: 4;
  width: 26.9rem;
  height: 5.4rem;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .navbar-component .logo-wrapper {
    width: 10rem;
    height: 2rem;
  }
}
.navbar-component .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar-component .desktop-view {
  /* display: block; */
}
@media screen and (max-width: 600px) {
  .navbar-component .desktop-view {
    display: none;
  }
}
.navbar-component .nav-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}
.navbar-component .nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  column-gap: 2rem;
  /* background-color: blue; */
}

.navbar-component .nav-main .nav-wrapper {
  list-style: none;
  margin-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.navbar-component .dropdown-wrapper {
  /* background-color: blue; */
  /* padding: 1rem; */
}
.navbar-component .nav-main .nav-wrapper .nav-text {
  padding: 0.5rem 0;
  /* background-color: red; */
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  /* margin-bottom: 2rem; */
  border-bottom: 0.3rem solid transparent;
  margin-bottom: 1rem;
  cursor: pointer;
  color: #000;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.navbar-component .nav-main .nav-wrapper .nav-text-other {
  color: #fff;
}
.navbar-component .nav-main .nav-wrapper .nav-text.active {
  border-bottom: 0.3rem solid #000000;
}
.navbar-component .nav-main .nav-wrapper .nav-text-other.active {
  border-bottom: 0.3rem solid #fff;
}
.navbar-component .nav-main .nav-wrapper .nav-text .icon {
  color: #3c0ceb;
  font-size: 1.2rem;
}
.navbar-component .nav-main .nav-wrapper .nav-text-other .icon {
  color: #fff;
}
.navbar-component .dropdown-links-wrapper {
  position: relative;
  z-index: 99999 !important;
}
.navbar-component .dropdown-links-con {
  /* background-color: green; */
  position: absolute;
  right: 0;
  top: 0;
  width: 20rem;
  padding: 1rem 0 0;
  z-index: 99;
}
.navbar-component .dropdown-links {
  /* margin-top: 5px; */
  position: relative;
  width: 100%;
  background-color: #ff5340de;
  padding: 2rem 0rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  z-index: 999;
}
.navbar-component .dropdown-links-wrapper.about-us .dropdown-links {
  background-color: #3c0cec8f;
}
.navbar-component .dropdown-links-wrapper.products .dropdown-links {
  background-color: #cc2f9ea1;
}
.navbar-component .dropdown-links::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 15px;
  width: 10px;
  height: 50px;
  border-radius: 70% 70% 0 0;
  background: linear-gradient(
    to bottom,
    #ff5340de 0%,
    #ff5340de 22%,
    transparent 22%,
    transparent 100%
  );
}
.navbar-component .dropdown-links-wrapper.about-us .dropdown-links::before {
  background: linear-gradient(
    to bottom,
    #3c0cec8f 0%,
    #3c0cec8f 22%,
    transparent 22%,
    transparent 100%
  );
}
.navbar-component .dropdown-links-wrapper.products .dropdown-links::before {
  background: linear-gradient(
    to bottom,
    #cc2f9ea1 0%,
    #cc2f9ea1 22%,
    transparent 22%,
    transparent 100%
  );
}
.navbar-component .dropdown-links li {
  padding: 0.5rem 1rem;
  /* background-color: green; */
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar-component .drop {
  background-color: #f574cef5 !important;
  z-index: 1;
}

.navbar-component .drop2 {
  background-color: #a126edab !important;
  z-index: 1;
}

.navbar-component .dropdown a {
  color: #fff !important;
  font-size: 1.6rem !important;
  margin-bottom: 50px !important;
}

.navbar-component .dropdown li a:hover::after {
  content: '';
  display: none;
}
/* country */
.navbar-component .country-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  column-gap: 2rem;
  color: #000;
  margin-bottom: 1rem;
  z-index: 999;
}
.navbar-component .country-wrapper-other {
  color: #fff;
}
.navbar-component .country-wrapper .country {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.navbar-component .country > img {
  border-radius: 20px;
  justify-content: center;
  min-width: 2.5rem;
  min-height: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: -0.5rem;
  /* margin-left: -0.5rem; */
  object-fit: cover;
}

.navbar-component .uk {
  position: relative;
  left: 5px;
}
.navbar-component .italy {
  position: relative;
  left: 5px;
}
.navbar-component .nigeria {
  position: relative;
  left: 5px;
}
.navbar-component .lang {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  /* height: -8rem; */
  /* background-color: green; */
  cursor: pointer;
  height: 68.5px;
}
.navbar-component .en {
  font-weight: 900;
}
.navbar-component .en p {
}
.navbar-component .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.3rem;
}
/* mobile view */
.navbar-component .hamburger {
  color: #000;
  display: none;
  /* background-color: green; */
  position: relative;
  z-index: 4;
  font-size: 2rem;
}
.navbar-component .hamburger.other {
  color: #fff;
}
@media screen and (max-width: 600px) {
  .navbar-component .hamburger {
    display: block;
  }
}
.navbar-component .mobile-view-con {
  position: relative;
  width: 100%;
  margin: 2rem auto;
  z-index: 44;
}
.navbar-component .mobile-view-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* margin: auto; */
  background-color: #f8f4ff;
  /* background-color: red; */
  /* /* margin: 0 -1rem ; */
}
.navbar-component .mobile-view-content {
  position: relative;
}
.navbar-component .mobile-view {
  display: none;
}
@media screen and (max-width: 600px) {
  .navbar-component .mobile-view {
    display: block;
    position: relative;
    overflow: hidden;
    transition: height linear 0.3s;
    /* height: 0; */
  }
}
.navbar-component .nav-main-mobile {
  display: flex;
  flex-direction: column;
  /* row-gap: 1rem; */
  list-style-type: none;
  height: auto;
  /* background-color: green; */
  /* padding: 1rem; */
  /* height: 40rem; */
}
.navbar-component .nav-wrapper-mobile {
  min-height: 4rem;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* background-color: #3c0ceb5b; */
}
.navbar-component .nav-text-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  /* margin: 0 2rem; */
  width: 87.5%;
  margin: 0 auto;
  /* display: none; */
}
.navbar-component .dropdown-links-wrapper-mobile {
  transition: height linear 0.3s;
  overflow: hidden;
  width: 87.5%;
  margin: 0 auto;
  height: 0rem;
  /* display: none; */
  /* background-color: rgba(0, 0, 255, 0.263); */
}
.navbar-component .dropdown-links-wrapper-mobile.active {
  height: 15rem;
}
.navbar-component .dropdown-links-mobile li {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid #cdc5c570;
  font-size: 1.2rem;
  /* background-color: blue; */
  /* display: none; */
}

/* nav btn */
.navbar-component .nav-btn-wrapper {
  z-index: 5;
}
@media screen and (max-width: 600px) {
  .navbar-component .nav-btn-wrapper {
    display: none;
  }
}
.navbar-component .nav-btn {
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 140px;
  cursor: pointer;
  color: white;
  background-color: #3c0cec;
}
.navbar-component .nav-btn-other {
  background-color: #ff5240;
}
/* countries dropdown */
.navbar-component .countries-dropdown-wrapper {
  width: 100%;
  position: relative;
  z-index: 5;
  /* padding: 4rem 0 0; */
  margin-top: -2rem;
  /* background-color: blue; */
}

.navbar-component .countries-dropdown {
  position: absolute;
  top: 1rem;
  left: 0;
  margin-right: 20rem !important;
  width: 100%;
  height: 35rem;
  background-color: #fff;
  padding: 3rem 0rem 3rem;
}

.language-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 50%;
  height: auto;
}

.text-container {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 20px;
}

.text-column {
  padding: 0 10px;
  border-left: 1px solid #ccc;
}

.text-column p {
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
  line-height: 1.5;
}
