.value-component {
  font-weight: 400 !important;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  margin: 6rem 0 0;
  padding-bottom: 6rem;
}
.value-component .wrapper {
  background-color: #3c0cec;
  /* padding-bottom: 5rem; */
  /* display: none; */
}
.value-component .container {
  width: 87.5%;
  margin: 0 auto;
}
.value-component .content {
  padding: 4rem 0rem 8rem;
}
.value-component .values-section {
  color: #fff;
}

.value-component .values-section h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 2rem;
}
.value-component .values-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  column-gap: 3rem;
  /* flex-wrap: wrap; */
}
@media screen and (max-width: 600px) {
  .value-component .values-list {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
  }
}
.value-component .value-item {
}
.value-component .value-item h3 {
  font-size: 2.3rem;
  font-weight: 900 !important;
  line-height: 150%;
  margin-bottom: 0.7rem;
}
@media screen and (max-width: 600px) {
  .value-component .value-item h3 {
    font-size: 2.3rem;
  }
}
.value-component .value-item p {
  font-size: 1.4rem;
  font-weight: 100 !important;
  line-height: 2rem;
  /* display: none; */
}
