.video-component {
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  width: 100%;
  margin: 0 auto;
}
.video-component .container {
  width: 87.5%;
  margin: 0 auto;
}
.video-component .content {
  padding: 9rem 15rem;
  background-color: #fff;
  box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px #080f340a;
  border-radius: 0.8rem;
}
.video-component .title-wrapper {
  display: flex;
  margin-bottom: 5rem;
}
.video-component .details-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.video-component .details {
  max-width: 60rem;
}
.video-component .details .title {
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.92rem;
  margin-bottom: 1rem;
}
.video-component .details .info {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.952rem;
}
.video-component .btns-wrapper {
  display: flex;
  column-gap: 4rem;
  align-items: center;
}
.video-component .btns {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}
.video-component .btns-2 {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}
.video-component .video-wrapper {
  height: 100%;
  padding: 2rem;
  width: 50%;
  display: flex;
  justify-content: center;
}

.video-component .btns-2 .btn {
  width: 32px;
  height: 8px;
  border-radius: 8px;
  background-color: #000000;
  cursor: pointer;
}
.video-component .btns-2 .btn.active {
  background-color: #3c0cec;
}
