/* src/Footer.css */
.footer {
  background-color: #3f00f5;
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  padding: 100px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .footer {
    padding: 4rem 2rem;
  }
}
.footer-component .footer-columns {
  display: flex;
  justify-content: space-between;
  column-gap: 20rem;
  /* background-color: blue; */
}
@media screen and (max-width: 1200px) {
  .footer-component .footer-columns {
    column-gap: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .footer-component .footer-columns {
    flex-direction: column;
  }
}
.footer-component .footer-logo {
  width: 35rem;
}

@media screen and (max-width: 1200px) {
  .footer-component .footer-logo {
    width: 25rem;
  }
}
@media screen and (max-width: 600px) {
  .footer-component .footer-logo {
    width: 100%;
    margin-bottom: 3rem;
  }
}
.footer-component .footer-logo-img {
  width: 15rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 1200px) {
  .footer-component .footer-logo-img {
    width: 10rem;
  }
}

.footer-component .footer-logo p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .footer-component .footer-logo p {
    font-size: 1rem;
  }
}

.footer-component .footer-gen-con {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  /* justify-content: flex-start; */
  /* justify-content: space-between; */
  flex: 1 1 0%;
  /* background-color: green; */
}
.footer-component .footer-gen-wrapper {
  display: flex;
  column-gap: 2rem;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .footer-component .footer-gen-wrapper {
    flex-direction: column;
    row-gap: 3rem;
  }
}

.footer-component .footer-gen {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  /* background-color: green; */
}
@media screen and (max-width: 1200px) {
  .footer-component .footer-gen {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* row-gap: 3rem; */
  }
}

.footer-component .footer-column {
  border-right: 1px solid #ffffff;
  height: 100%;
  flex: 1;
  /* min-width: 8rem; */
  width: 14rem;
  padding: 0 1rem;
  /* margin: 5px; */
  text-align: left;
}
@media screen and (max-width: 1200px) {
  .footer-component .footer-column {
    width: 9rem;
  }
}
@media screen and (max-width: 600px) {
  .footer-component .footer-column {
    width: 100%;
    border-right: none;
    /* background-color: blue; */
    border-bottom: 1px solid #ffffff;
    padding: 1rem 1rem;
  }
}

.footer-component .footer-column h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 400;
}
@media screen and (max-width: 1200px) {
  .footer-component .footer-column h3 {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 600px) {
  .footer-component .footer-column h3 {
    font-size: 1.6rem;
    text-align: center;
  }
}

.footer-component .footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-component .footer-column ul li {
  margin: 5px 0;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
  /* background-color: green; */
}
@media screen and (max-width: 1200px) {
  .footer-component .footer-column ul li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .footer-component .footer-column ul li {
    font-size: 1.2rem;
    text-align: center;
  }
}

.footer-component .footer-ul-main {
  /* background-color: blueviolet; */
}
.footer-component .footer-ul {
  /* margin-left: 30px; */
  width: 150px;
  list-style-type: none;
}
@media screen and (max-width: 600px) {
  .footer-component .footer-ul {
    display: flex;
    flex-direction: column;
    /* row-gap: 2rem; */
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.footer-component .footer-ul-main h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1200px) {
  .footer-component .footer-ul-main h3 {
    font-size: 1.3rem;
  }
}

.footer-component .footer-li {
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  margin-bottom: 10px;
}

.footer-component .footer-social {
  display: flex;
  align-items: center;
  column-gap: 4rem;
  padding: 0 1rem;
}
@media screen and (max-width: 600px) {
  .footer-component .footer-social {
    flex-direction: column;
    row-gap: 1rem;
  }
}

.footer-component .footer-social h3 {
  font-size: 1.3rem;
  font-weight: 500;
}
@media screen and (max-width: 1200px) {
  .footer-component .footer-social h3 {
    font-size: 1.3rem;
  }
}

.footer-component .social-icons-wrapper {
  display: flex;
  column-gap: 2rem;
}
.footer-component .social-icons-wrapper .icon {
  /* background-color: pink; */
}
.footer-component .social-icons-wrapper a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
