.brief-history {
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  width: 100%;
  margin: 0 auto;
}
.brief-history .container {
  width: 87.5%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .brief-history .container {
    width: 100%;
  }
}
.brief-history .content {
  padding: 5rem 15rem;
}
@media screen and (max-width: 600px) {
  .brief-history .content {
    padding: 5rem 2rem;
  }
}
.brief-history .title {
  text-align: center;
}
.brief-history .info {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
