.ready-to-join {
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  width: 100%;
  margin: 0 auto;
  /* background-color: green; */
}
.ready-to-join .container {
  width: 87.5%;
  margin: 0 auto;
}
.ready-to-join .content {
  padding: 7rem 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ready-to-join .ready {
}
.ready-to-join .ready .title {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
}
.ready-to-join .ready .info {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  font-weight: 300;
  text-align: center;
}
.ready-to-join .btn {
  display: flex;
  justify-content: center;
}
